/* Default styles for the main elements of the page */

header,
main,
footer {
  background-color: #f7edd6;
  color: #D5262E;
  padding: 10px 0;
  width: auto;
  font-family: "Cooper Black", serif;
  text-align: center;
}

body {
  overflow-x: hidden;
}

/* Styling for the header*/

.headerContainer {
  margin: 0;
  padding: 0;
}

/* Styles for the navigation bar */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* Flex wrap used so the text on smaller screens doesnt push out of its container. */
  flex-wrap: wrap; 
  justify-content: space-evenly;
  background-color: #D5262E;
  text-align: center;
}

nav li {
  padding: 8px 12px;
}

nav a {
  color: #f7edd6;
  text-decoration: none;
  font-weight: lighter;
}

nav a:hover {
  color: #ddd;
}

/* Main content styles */
main {
  margin-top: 0;
  padding-top: 0;
}

h1 {
  font-size: 3em;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 1.8em;
  color:
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.9em;
  padding: 1%;
}

.tcrHeader {
  margin-top: 0;
  margin-bottom: 0;
  color: #334655;
}

.tcrParagraph {
  color: #334655;
}

.sampleMenuLink {
  color: #D5262E;
}

button {
  background-color:#EBB195;
  font-family: "Cooper Black", serif;
  font-size: 1.1em;
  border-radius: 5px;
  padding: 1.6%;
}

.button {
  color: #334655;
  margin-bottom: 50px;
  text-decoration: none;
}

.buttonBottomPadding {
  padding-bottom: 21px;
}

.button:hover {
  color: #D5262E;
}

.link:hover {
  color: #D5262E;
}

.foodhall {
  width: 97%;
  margin: 5px auto;
}

.pic2 {
  width: 100%;
  height:fit-content;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  color: #E16764;
}

.info {
  width: 100%;
  background-color: #EBB195;
  padding-bottom: 50px;
}

#infoAddress {
  font-size: 10px;
}

.infoTextAlign{
  text-align: left;
  padding-left: 5%;
}
.mapLink {
  color: #D5262E
}

.mapLink:hover {
  background-color: #D5262E;
  color: #EBB195;
}

.instaFollowBanner {
  display: block;
  width: 100%;
  background-color: #D5262E;
  color: #f7edd6;
  font-size: 1.5789473684em;
  letter-spacing: .0125em;
  line-height: 1.0933333333em;

}

/* Section for swipeable slideshow */

.slider-wrapper {
  position: relative;
  max-width: 100rem;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.formHeader1 {
  text-align: left;
  padding-left: 5%;
  margin-bottom: 0;
}

.formHeader2 {
  text-align: left;
  padding-left: 4.5%;
  margin-top: 1.4%;
}

footer ul {
  list-style: none;
  display: inline;
  text-align: center;
}

footer a {
  color: #E16764;
}

.link {
  color: #E16764;
}

footer a:hover {
  color: #D5262E;
}

@media (max-width: 400px) {
  header, main, footer {
    width: 100%; /* Ensure elements take up full width */
    padding: 10px; /* Add padding to prevent content from sticking to edges */
    font-size: 0.9em;
    justify-content: space-between;
}
  .pic2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  /* Adjust styles for small screens here */
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    font-size: 0.8em;
  }
}




