/* Default styles for hte main elements of the page */

header,
main,
footer {
  background-color: #F7EDD7;
  color: #D5262E;
  padding: 20px 0;
  font-family: "Cooper Black", serif;
  text-align: center;
}

/* Styles for the navigation bar */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* Flexbox for horizontal layout */
  justify-content: space-evenly;
  background-color: #D5262E;
  text-align: center;
}

nav li {
  padding: 10px 20px;
}

nav a {
  color: #F7EDD7;
  text-decoration: none;
  font-weight: lighter;
}

nav a:hover {
  color: #ddd;
}


main {
  margin-top: 0;
  padding-top: 0;
}

h1 {
  font-size: 4em;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 2em;
  color:
}

h3 {
  font-size: 1em;
}

button {
  background-color:#EBB195;
  font-family: "Cooper Black", serif;
  font-size: larger;
  border-radius: 5px;
}

.button {
  color: #334655;
  font-weight: ;
}

p {
  font-size: 1em;
  /* Set the font size for the paragraph */
  font-weight: lighter;
  /* Reduce the font weight to make it lighter than the heading */
  text-align: center;
  font-family: "Cooper Black", serif;
  font-weight: lighter;
}

.tcr {
  color: #334655;
}


.link:hover {
  color: #D5262E;
}

.photos {
  width: 80%;
  height: 333px;
  margin: 0 auto;
}

.mainPics {
  width: 97%;
  margin: 5px auto;
}

.pic2 {
  margin-top: 16px;
  height: 100%;
  margin: 5px
}

.link {
  color: #E16764;
}

.info {
  width: 100%;
  background-color: #EBB195;

  padding-top: 10px;
  padding-bottom: 50px;

}

.mapLink {
  color: #D5262E
}

.mapLink:hover {
  background-color: #D5262E;
  color: #EBB195;
}

footer ul {
  list-style: none;
  display: inline;
  text-align: center;
}

footer a {
  color: #E16764;
}

.link {
  color: #E16764;
}

footer a:hover {
  color: #D5262E;
}